<%- include('../header')%>
<div class="container-film">
    <div class="wrapper-film">
        <div class="film-grid">
            <% actors.forEach((actor, index) => { %>
                <a href="actors/<%= actor.id %>">
                    <div class="poster">
                    <img src="<%= actor.image %>" alt="<%= actor.name %>"/>
                    </div>
                </a>
            <% }) %>
        </div>
   </div>
</html>
