<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Netflix n Chill</title>
    <link href="/home.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
        <div class="logo">
          <a href="http://localhost:3000"><h1>Netflix n Chill</h1></a>
        </div>
        <div class="category">
            <a href="/films"><p>FILM</p></a>
            <a href="/actors"><p>ACTOR</p></a>
        </div>
    </div>