<%- include('../header')%>
    <div class="container">
        <div class="wrapper-create">
            <form action="create" method="post" class="form-create">
                <h3>Film Name</h3>
                <input type="text" name="name" required>
                <h3>Link poster (URL)</h3>
                <input type="text" name="poster" required>
                <h3>Director</h3>
                <input type="text" name="director" required>
                <h3>Release (Year)</h3>
                <input type="text" name="releaseYear" required>
                <h3>Company Name</h3>
                <input type="text" name="company" required>
                <h3>Select actor</h3>
                <select id="actorId" name="actors">
                    <option value="">No one</option>
                    <% actors.forEach(actor => { %>
                        <option value="<%=actor.id%>"><%=actor.name%></option>
                    <% }) %>
                </select>
                <button id="addFilmButton" class="btn outline">ADD FILM</button>
                <script>
                    const addFilmButton = document.getElementById('addFilmButton');
                    const actorDropdown = document.getElementById('actorId');
                
                    addFilmButton.addEventListener('click', function() {
                        const selectedActorId = actorDropdown.value;
                        const hiddenInput = document.createElement('input');
                        hiddenInput.type = 'hidden';
                        hiddenInput.name = 'actorId';
                        hiddenInput.value = selectedActorId;
                        const form = document.querySelector('.form-create');
                        form.appendChild(hiddenInput);
                    });
                </script>
                
            </form>
        </div>
    </div>
</html>